body {
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 400;
    margin: 0;
}

 h1 {
    display: inline;
    font-weight: 200;
 }

 header {
    background: #3D533E;
    color: #fcfdff;
    padding: 1rem;
    box-sizing: border-box;
    height: 4.5rem;
    word-spacing: .75rem;
 }

 .person-list-panel {
    position: absolute;
    top: 4.5rem;
    left: 0;
    bottom: 0;
    width: 14rem;
    background: #ACCCAC;
    padding: 1rem;
 }

 .person-input {
    position: relative;
    font-size: 1rem;
 }

 .person-input_text {
    font-family: "Source Sans Pro", sans-serif;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    padding: .5em 1.75em .5em .5em;
    font-size: inherit;
}

.person-input_text:focus + .person-input_icon {
    display: block;
}

.person-input_icon {
    display: none;
    position: absolute;
    top: .55em;
    right: .5em;
    color: #666;
}

.card {
    background: #fcfdff;
    border: 1px solid #d7d8da;
    padding: .5rem;
    margin-bottom: 1rem;
}